/*
 ! CSS for phone device ONLY,
 ! ie. device-width < 576px.
 ! CSS flow: General -> Mobile -> phone
 TODO: sticky buttom menu.
 */

html {
  font-size: .8em;
}

body {
  width: 100vw;
  margin: 0 .5em;

  color:black;
  background-color: white;
}

/*header {}*/

nav {
  width: 100%;
  background-color:#095D2C;

  /* sticky buttom */
  position:fixed; bottom: 0;

  /* element center */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*main {}*/

/*.subsidery {}*/

footer {
  display: none !important;
}