/*
 ! Device independent CSS
 TODO: 
 */

body {
  width: 90%; max-width: 960px;
  margin: 0 auto;
  background-color: #095D2C;
}

html {
  box-sizing: border-box;
  color: white;
 	font-family: "Noto Sans TC", sans-serif;
  font-size: 1em;
  /*
  line-height: 1.2;
  background: url("../img/background.png");
  */
}

/* banner: center banner */
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navigation */
nav {
  width: 100%;
  background-color: inherit;
}

nav ul {
  display: block;
  margin: 0 auto;
  width: auto;
  text-align: center;
  list-style: none;
  border-bottom: 3px dotted rgb(83, 147, 113, 1);
}

nav > ul > li {
  display: inline-block;
  padding: 5px 20px;
  transition: all 0.5s;
}

nav > ul > li:hover {
  background-color: white;
}

nav a, nav a:visited {
  display: block;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

/* main */
.subsidery {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: .5em auto;
}

footer {
  /*display: initial;*/
}