/*
 ! CSS for general devices (Desktop, Notebook, and mobile)
 ! CSS flow: General -> Mobile -> phone
 TODO: 
 */

html {
 	font-family: "Noto Sans TC", sans-serif;
  font-size: initial;
  line-height: 1.4;
}

body {
  box-sizing: border-box;
  width: 90%; max-width: 960px;
  margin: 0 auto;

  font: normal;
  color: white;
  background-color:#CFE6D7;
}

/* banner: center banner */
header {
  /* element center */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navigation */
nav {
  background-color: inherit;
}

nav ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  border-bottom: 3px dotted rgb(83, 147, 113, 1);
}

nav > ul > li {
  display: inline-block;
  padding: 5px 20px;
  transition: all 0.5s;
}

nav > ul > li:hover {
  background-color: white;
}

nav a, nav a:visited {
  display: block;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

/* main */

.subsidery {
  margin: .5em auto;

  /* element center */
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 90%; max-width: 960px;

  /* sticky buttom */
  position: fixed; bottom:0;

  /* element center */
  display: flex;
  align-items: center;
  justify-content: center;
}
